<h1>Simple Commerce, super macizon</h1>
<h2>simplifica tu tienda en linea</h2>
<img src="images/negociosweb.jpg" alt="Simple E-Commerce">
<form action="/hook" method="post">
    <p>
         <label for="txtemail">Reserva tu lugar para ser de los primeros en usarlo cuando lo liberemos</label>
        <input type="email" name="txtemail" id="txtemail" placeholder="tucorre@elctron.ico">
    </p>
    <button type="submit" name="btnAdd" >Quiero Participar</button>
</form>